h1, h2, h3, h4, h5, p, blockquote, li, dt, dd, span, a {
  font-family: 'myriad-pro';
}

.dynamic-content {
  text-align: left !important;

  .alignleft {
    float: left;
    margin: 0 2em 2em 0;
  }

  .alignright {
    float: right;
    margin: 0 0 2em 2em;
  }

  h1, h2, h3, h4, h5 { clear: both; }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.6em;
    margin-top: .25em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 1.8em;
    border-bottom: 1px solid $pointBlue;
    padding-bottom: .5em;
    margin-bottom: 1em;
    margin-top: 2em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .meta {
    margin-top: -1em;
    color: #666;
    font-weight: 100;
    font-size: 1em;
  }
}

dl {
  dt {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 1em;
  }
}

p {
  line-height: 1.2em;
  font-size: 1.2em;
  margin-bottom: 1.6em;
}

small {
  font-size: .8em;
  line-height: 1.4em;
  margin: 0 1em 0 0;
  color: #666;
  font-weight: 100;
}

a {
  color: $point-blue;
  text-decoration: none;

  &:hover {
    color: lighten($point-blue, 5%);
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
