.buttons {
  text-align: center;
  margin-top: 1em;
}

.button {
  border: 1px solid #333;
  color: #333;
  text-decoration: none;
  padding: .75em 2em;
  margin: 1em;
  display: inline-block;
  clear: both;
  font-size: 1.2em;
  transition: all .5s;
  box-sizing: border-box;

  &:hover {
    border-color: $pointBlue;
    color: $pointBlue;
  }

  &--white {
    border-color: #fff;
    color: #fff;
    @extend .button;

    &:hover {
      color: inherit;
      border-color: inherit;
      background: rgba(0, 0, 0, .2);
    }
  }

  &--gray {
    border-color: #999;
    color: #999;
    @extend .button;
  }
}
