footer {
  text-align: center;
  background: #333;
  font-weight: 100;
  color: #999;
  padding: 2em;
  clear: both;
  @mixin clearfix;

  .footer__title {
    background: url(../../images/footer-logo.png) no-repeat 0 0;
    text-indent: -9999em;
    height: 66px;
    width: 150px;
    margin: 0 auto 2em;
  }

  .footer__address {
    border-bottom: 1px solid #999;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .buttons {
    [class*="button"] {
      display: block;
      margin: 1em 2%;
      padding: .5em 1em;
      width: auto;
    }
  }

  .copyright {
    margin: 0;
  }
}

@media screen and (min-width: 500px) {
  footer {
    .buttons {
      [class*="button"] {
        display: inline-block;
        width: 40%;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  footer {
    background: #333;
    padding: 2em;
    color: #999;
    text-align: left;

    .footer__title {
      margin: 0;
    }

    .footer__address {
      margin-top: 2em;
      line-height: 1.4em;
      font-size: 1.2em;
      font-weight: 100;
    }

    .buttons {
      float: right;
      width: 60%;
      margin: 0;
      text-align: right;

      [class*="button"] {
        margin: 0 0 0 1em;
        text-align: center;
        width: auto;

        &:hover {
          background: #444;
        }
      }
    }

    .copyright {
      float: left;
      width: 40%;
      padding-top: 1%;

      a { color: #ccc; }
    }
  }
}
