.site-header {
  position: fixed;
  top: 0;
  left: 0;
  background: $darkGray;
  width: 100%;
  z-index: 9998;
  box-sizing: border-box;

  .logo {
    text-indent: -9999em;
    background: url('../../images/point-logo-header.png') 0 0 no-repeat;
    width: 100px;
    height: 45px;
    display: block;
    margin: 1em auto;
    background-size: 100%;
  }
}

.site-nav {
  display: block;
  box-sizing: border-box;
  position: fixed;
  left: -100vw;
  width: 100vw;
  background: $pointBlue;
  height: 150%;
  padding: 1em;
  z-index: 9999;
  transition: left .5s;

  .current-page-ancestor {
    background: rgba(0, 0, 0, .5);
  }

  .current-menu-item > a {
    color: $pointBlue !important;
    background: rgba(0, 0, 0, .5);
  }

  .menu > li > a {
    padding: 1em 0;
    display: block;
    border-bottom: 1px dotted #ddd;
    text-decoration: none;
    color: #ddd;
    font-size: 1.4em;
    transition: color .5s;

    &:hover {
      color: #fff;
    }
  }

  .sub-menu {
    display: none;
  }

  &.open {
    left: 0;
  }
}

.site-nav__control {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  text-indent: -9999em;
  display: block;
  background: #333 url('../../images/hamburger.png') no-repeat center;
  z-index: 9999;
}

@media screen and (min-width: 900px) {
  .site-header {
    position: static;
    padding: 0 2em;
    @mixin clearfix;
  }

  .logo {
    float: left;
  }

  .site-nav {
    position: static;
    width: auto;
    background: none;
    float: right;
    font-size: .8em;
    padding: 0;

    .sub-menu {
      li {
        display: block;

        a {
          display: block;
          font-size: 1.2em;
          color: #fff;
          padding: .75em 1em;

          &:hover {
            background: rgba(0, 0, 0, .5);
          }
        }
      }
    }

    .menu-item:hover {
      .sub-menu {
        display: block;
        position: absolute;
        top: 77px;
        z-index: 999;
        min-width: 100%;
        background: rgba(0, 0, 0, .5);
      }
    }

    .menu > li {
      display: inline-block;
      position: relative;

      > a {
        display: inline-block;
        border: none;
        padding: 1.65em 1em;

        &:hover {
          background: rgba(0, 0, 0, .5);
        }
      }
    }
  }

  .site-nav__control {
    display: none;
  }
}
